body {
  font-family: Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9bcb57;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  color: #fff;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px); /* Учитывает высоту header и footer */
}

.create-post-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.create-post-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.form-control,
.form-control-file {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box; /* Гарантирует включение padding и border в ширину */
}

.form-control-file {
  padding: 3px; /* Меньше padding для файлового инпута */
}

.form-group textarea {
  resize: vertical;
  min-height: 150px;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #9bcb57;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #7da946;
}

footer {
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}
