body {
  font-family: Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9bcb57;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  color: #fff;
}

main {
  padding: 20px;
  min-height: calc(100vh - 140px); /* Учитывает высоту header и footer */
}

.blog-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.post {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.post h2 {
  font-size: 24px;
  margin-top: 0;
  color: #333;
}

.post-meta {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.post-meta span {
  margin-right: 10px;
}

.post p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #333;
}

.post-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: block;
}

.add-post {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #9bcb57;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.add-post:hover {
  background-color: #7da946;
}

footer {
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}
