<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Open-Code</title>
  <link rel="stylesheet" href="{% static 'style/style.css' %}" charset="UTF-8">
  <link rel="stylesheet" href="{% static 'style/create_post.css' %}" charset="UTF-8">
</head>
<body>
  <header>
    <h1>Open-Code</h1>
  </header>

  <main>
    <div class="create-post-container">
      <h1>Добавить новую статью</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </form>
    </div>
  </main>

  <footer>
    <p>&copy; 2024 Open-Code</p>
  </footer>
</body>
</html>
